<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<body style="background-color: red; text-align: center;">
		<h1>WELCOME TO MADGICAL QUIZE</h1>
		<h4>click here to play game:</h4><input type="submit" name="click here",value="click here">
	</body>
</html>
